@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Sans:wght@400;700&display=swap');

/* base styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700; 
    margin: 0;
    }

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 700; 
    line-height: 1.6;
}

span {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #dc5295;
}

/* nav */

.nav-section{
    display: flex;
    position: relative;
}

.logo{
    margin:20px 80px 20px 35px;
}

nav, ul, li {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    text-align: left;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
} 

ul {
    margin: 42px 0;
}

li {
    padding: 0 15px;
}

.nav-bar a:hover{
    border-bottom: 3px solid #da408d;
    cursor: pointer;
    transition: ease-in-out .35s ;
}


/* banner section */

.banner-section {
    background-image: url(../images/banner.png);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f4f4f4;
    line-height: 1.6;
}

/* container section */

.container {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    padding: 120px 0;
    align-items: center;
    margin: auto;
}

.bg-color {
    background-color: #f6f6f6;
}
/* use for possitioning */
.container-text {
    width: 50%;
    margin: auto;
    padding: 41px;
    line-height: 1.6;
}

.container-image {
    width: 50%;
    margin: auto;
}

/* footer section  */

footer {
    background-color: #323545;
    text-align: center;
    padding: 75px 50px ;
    color: #ffffff;
}

.footer-menu {
    padding: 50px 0 0 0;
}