@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Sans:ital,wght@0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

nav, ul, li {
    font-family: ptsans;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 16pt;
    font-weight: 700;
}
